<!DOCTYPE html>
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}


<head>
    <title>DHMT|Transactions|View Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="jquery-1.11.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/jsi18n/"></script>
   
</head>
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/transactions">Transaction Statistics Report</a></li>
    <li>Generate Report</li>
</ul>

<body>
    <h1>
        Connection Error
    </h1>
<p> Database Error.Cannot connect to  the database.Please try again!! </p>
</body>