<!DOCTYPE html>

{% include 'viewform/bootstrap3/include_css.html' %}
{% include 'viewform/bootstrap3/include_js.html' %}


<head>
    <title>DHMT|Consistency|View Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="jquery-1.11.1.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/jsi18n/"></script>
   
</head>
<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/consistency">Consistency Report</a></li>
    <li>Generate Report</li>
</ul>
<body>
    <h1>
        Connection Error
    </h1>
<p> Database Connection Error.Cannot connect to the database.Please try again !! </p>
</body>