<!DOCTYPE html>
{% load render_table from django_tables2 %}

<head>
    <title>DHMT|Consistency|View Report</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/django_tables2/css/bootstrap.min.css" />
   
</head>

<ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/consistency">Consistency Report</a></li>
    <li>Results</li>
</ul>
<body>
    <h2 align="center">Consistency Query Report for {{customername}} </h2>
    <form method="get" action="/consistency/generate/">
        <button type="submit" >Download Report </button>
    </form>
    {% render_table table %}
</body>
