<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>DHMT|loginBox</title>
    <!-- Bootstrap Core CSS -->
    <link href="/static/registration/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/static/registration/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/registration/css/sb-admin.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/registration/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>


    {% extends "registration/login_base.html" %}
    {% block content %}

    



    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
        <table>
            <tr>
                {% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
                <div class="alert-danger">
                    {% if form.errors %}
                    <p>Your username and password didn't match. Please try again.</p>
                    {% endif %}
                </div>
                {% endif %}
            </tr>
                <tr>
            <td>{{ form.username }}</td>  
            </tr>
            <tr>
       
            <!--    <td>{{ form.password.label_tag }}</td><-->
            <td>
                {{ form.password }}
            </td>
            </tr>
            
            </table>
        <div class="panel-footer">
            <input type="submit" value="Login" />
            
        </div>
        <input type="hidden" name="next" value="{{ next }}" />
        
</form>
    
    {% endblock %}

    </body>



